/* The Modal (background) */
.vct-modal {
    display: block;
    position: fixed; /* Stay in place */
    z-index: 100000!important; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.vct-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.vct-modal-header {
    padding: 2px 16px;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    background-color: #293652;
    color: white;
}

.vct-modal-body {
    padding: 2px 16px;
    display: block;
}

.vct-modal-body > p .vct-date {
    color: grey!important;
}

.vct-modal-footer {
    padding: 2px 16px;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    background-color: #293652;
    color: white;
}

.vct-modal-footer a {
    color: #fff;
	text-shadow: -1px 1px 8px #3498db, 1px -1px 8px #3498db;;
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;
	outline: 0 none;
}

.vct-modal-footer a:hover {
    color: #3498db;
	text-shadow: -1px 1px 8px #fff, 1px -1px 8px #fff;
}

.vct-modal-footer h3 {
    display: inline;
}

.vct-modal-footer button {
    background-color: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    color: #ffffff;
    margin-left: 0.5em;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline;
}
